

@media screen and (max-width: 800px) {
    .showOption{
        height: 200px;
        width: 250px;
        background-color: transparent;
        box-shadow: 0px 0px 15px 1px;
        position: absolute;
        display: block;
        right: 1px;
        top:72px
    }
    
#bars{
    display: block;
    /* margin: 0px 10px 0px 5px; */
    height: inherit;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-block>li>a{
    display: none;
}
}
